{
	"singleQuote": true,
	"trailingComma": "all",
	"overrides": [
		{
			"files": ["*.ts", "*.mts", "*.tsx"],
			"options": {
				"parser": "typescript"
			}
		}
	],
	"tabWidth": 4,
	"semi": true,
	"useTabs": true,
	"printWidth": 120,
	"trimTrailingWhitespace": true
}
